<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>

<body>
  <nav>
    <div class="nav-container">
      <a href="#" class="nav-home">Home</a>
      <a href="#" class="nav-showtime">Showtime</a>
      <a href="#" class="nav-statistics">Statistics</a>
      <a href="#" class="nav-seat">Seat</a>
    </div>
  </nav>

  <h1 id="titleOflib">
    Xem số ghế còn trống của suất chiếu
  </h1>
  <div>
    <input type="text" name="" class="input-box" placeholder="Nhập suất chiếu của bạn">
    <button class="count-btn">Đồng ý</button>
    <button class="reset-btn">Reset</button>
  </div>
  <table class="list">
    <thead>
      <tr>
        <th>Mã Suất chiếu</th>
        <th>Số ghế còn trống</th>
      </tr>
    </thead>
    <tbody"></tbody>
  </table>
</body>
<script>
  const list = document.querySelector('.list');
  document.querySelector('.count-btn').addEventListener('click', () => {
    var id = document.querySelector('.input-box').value;
    availableSeats(id);
  })
  document.querySelector('.reset-btn').addEventListener('click', () => {
    list.innerHTML=' <table class="list"><thead><tr><th>Mã Suất chiếu</th><th>Số ghế còn trống</th></tr></thead><tbody"></tbody></table>'
  })
  function availableSeats(id) {
    fetch(`availableseats/view/${id}`, {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json'
      }
    })
      .then(response => response.json())
      .then(data => {
        for (let item of data.result) {
          const row = document.createElement("tr");
          const soghecontrong = document.createElement("td");
          const masuatchieu = document.createElement("td");
          soghecontrong.innerText = `${item.Soghecontrong}`;
          masuatchieu.innerText = `${item.Masuatchieu}`;
          row.appendChild(masuatchieu);
          row.appendChild(soghecontrong);
          list.appendChild(row);


          row.style.animation = "slidein 1s forwards"
          row.style.border = "3px solid white";
          row.style.margin = "50px";
          row.style.color = "white";

        }
      })
      .catch(err => { console.log('co loi xay ra') });
  }
  document.querySelector('.nav-showtime').addEventListener('click', () => {
    window.location.href = '/sub';
  })

  document.querySelector('.nav-statistics').addEventListener('click', () => {
    window.location.href = '/statistics';
  })
  document.querySelector('.nav-home').addEventListener('click', () => {
    window.location.href = '/';
  })
  document.querySelector('.nav-seat').addEventListener('click', () => {
    window.location.href = '/availableseats';
  })
</script>

</html>